                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <li class="dropdown dropdown-user dropdown-dark">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <span class="username username-hide-mobile">Hi, Admin &nbsp;</span>

                                    <img alt="" class="" src="<%= current_page.data.imageURL + "/iel-mis/inter-express-logistics.png" %>">
                                    
                                </a>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->