// Apps
Apps: function () {
	// console.log('Apps');


	// var test = moment().day("Monday").week(1);
	// console.log(test);

	// var test = moment().day("Sunday").week(1).year(2015);
	
	// var start_week1 = moment().week(1).year(2016);
	// var end_week1 = moment().week(1).year(2016);
	// var start_week1 = moment().add(1, 'weeks').startOf('isoWeek').year(2016);
	// var end_week1 = moment().add(1, 'weeks').endOf('isoWeek').year(2016);
	// console.log(start_week1.format('DD/MM/YYYY'));
	// console.log(end_week1.format('DD/MM/YYYY'));

	// var start_week3 = moment().week(4).startOf('week').year(2016);
	// var end_week3 = moment().week(4).endOf('week').year(2016);
	// console.log(start_week3.format('DD/MM/YYYY'));
	// console.log(end_week3.format('DD/MM/YYYY'));

	// var week2 = moment().week(2).year(2016);
	// console.log(week2.format('DD/MM/YYYY'));


	// year_selected_id handler
    <%= partial js_dir + "/javascript-desktop-home-kpi-operation-operationPerformance/partials/fn_Apps/_year_selected_id_handler" %>


  	$("#form_layout_year_select_id").hide(1000);
  	$("#form_layout_week_select_id").hide(1000);
  	$("#form_layout_month_select_id").hide(1000);
  	$("#form_layout_quater_id").hide(1000);
  	$("#form_layout_halfYear_id").hide(1000);


	$('#dropdown_weekly_filter_id').on('click', function() {
      	// console.log('dropdown_weekly_filter_id');

      	$("#form_layout_year_select_id").show(1000);
      	$("#form_layout_week_select_id").show(1000);
      	$("#form_layout_month_select_id").hide(1000);
      	$("#form_layout_quater_id").hide(1000);
      	$("#form_layout_halfYear_id").hide(1000);


	});

	$('#dropdown_monthly_filter_id').on('click', function() {
      	// console.log('dropdown_monthly_filter_id');

      	$("#form_layout_year_select_id").show(1000);
      	$("#form_layout_week_select_id").hide(1000);
      	$("#form_layout_month_select_id").show(1000);
      	$("#form_layout_quater_id").hide(1000);
      	$("#form_layout_halfYear_id").hide(1000);
	});

	$('#dropdown_quater_filter_id').on('click', function() {
      // console.log('dropdown_quater_filter_id');

      	$("#form_layout_year_select_id").show(1000);
      	$("#form_layout_week_select_id").hide(1000);
      	$("#form_layout_month_select_id").hide(1000);
      	$("#form_layout_quater_id").show(1000);
      	$("#form_layout_halfYear_id").hide(1000);
	});

	$('#dropdown_half_year_filter_id').on('click', function() {
      	// console.log('dropdown_half_year_filter_id');

      	$("#form_layout_year_select_id").show(1000);
      	$("#form_layout_week_select_id").hide(1000);
      	$("#form_layout_month_select_id").hide(1000);
      	$("#form_layout_quater_id").hide(1000);
      	$("#form_layout_halfYear_id").show(1000);
	});

  $('#btnFilterInfo').on('click', function() {
        console.log('btnFilterInfo');



        var resultDataTableHeaderTemplate = Handlebars.compile($("#dataTable-header-Template").html());
        // var context = fn.ConvertToContext(fn.paramStartDate, fn.paramEndDate);
           var context = {
                headers: [ 
                  { dateHeader: 'ลำดับ' },
                  { dateHeader: 'ทะเบียนรถ' },
                  { dateHeader: '01/06/2016' },
                  { dateHeader: '02/06/2016' },
                  { dateHeader: '03/06/2016' },
                  { dateHeader: '04/06/2016' },
                  { dateHeader: '05/06/2016' },
                  { dateHeader: '06/06/2016' },
                  { dateHeader: '07/06/2016' },
                  { dateHeader: '08/06/2016' },
                  { dateHeader: '09/06/2016' },
                  { dateHeader: '10/06/2016' },
                  { dateHeader: '11/06/2016' },
                  { dateHeader: '12/06/2016' },
                  { dateHeader: '13/06/2016' },
                  { dateHeader: '14/06/2016' },
                  { dateHeader: '15/06/2016' },
                  { dateHeader: '16/06/2016' },
                  { dateHeader: '17/06/2016' },
                  { dateHeader: '18/06/2016' },
                  { dateHeader: '19/06/2016' },
                  { dateHeader: '20/06/2016' },
                  { dateHeader: '21/06/2016' },
                  { dateHeader: '22/06/2016' },
                  { dateHeader: '23/06/2016' },
                  { dateHeader: '24/06/2016' },
                  { dateHeader: '25/06/2016' },
                  { dateHeader: '26/06/2016' },
                  { dateHeader: '27/06/2016' },
                  { dateHeader: '28/06/2016' },
                  { dateHeader: '29/06/2016' },
                  { dateHeader: '30/06/2016' },
                  { dateHeader: 'Average' }
                ]
              };
        // $("#datatableOperationKPI").html(resultDataTableHeaderTemplate(context));


        // var tmp_aoColumns = [ 
        //         { "mData": 'id'}, 
        //         { "mData": 'vehicle_licence'},
        //         { "mData": '2016-06-01_box'},
        //         { "mData": '2016-06-01_drop'},
        //         { "mData": '2016-06-02_box'},
        //         { "mData": '2016-06-02_drop'},
        //         { "mData": '2016-06-03_box'},
        //         { "mData": '2016-06-03_drop'},
        //         { "mData": '2016-06-04_box'},
        //         { "mData": '2016-06-04_drop'},
        //         { "mData": '2016-06-05_box'},
        //         { "mData": '2016-06-05_drop'},
        //         { "mData": '2016-06-06_box'},
        //         { "mData": '2016-06-06_drop'},
        //         { "mData": '2016-06-07_box'},
        //         { "mData": '2016-06-07_drop'},
        //         { "mData": '2016-06-08_box'},
        //         { "mData": '2016-06-08_drop'},
        //         { "mData": '2016-06-09_box'},
        //         { "mData": '2016-06-09_drop'},
        //         { "mData": '2016-06-10_box'},
        //         { "mData": '2016-06-10_drop'},
        //         { "mData": '2016-06-11_box'},
        //         { "mData": '2016-06-11_drop'},
        //         { "mData": '2016-06-12_box'},
        //         { "mData": '2016-06-12_drop'},
        //         { "mData": '2016-06-13_box'},
        //         { "mData": '2016-06-13_drop'},
        //         { "mData": '2016-06-14_box'},
        //         { "mData": '2016-06-14_drop'},
        //         { "mData": '2016-06-15_box'},
        //         { "mData": '2016-06-15_drop'},
        //         { "mData": '2016-06-16_box'},
        //         { "mData": '2016-06-16_drop'},
        //         { "mData": '2016-06-17_box'},
        //         { "mData": '2016-06-17_drop'},
        //         { "mData": '2016-06-18_box'},
        //         { "mData": '2016-06-18_drop'},
        //         { "mData": '2016-06-19_box'},
        //         { "mData": '2016-06-19_drop'},
        //         { "mData": '2016-06-20_box'},
        //         { "mData": '2016-06-20_drop'},
        //         { "mData": '2016-06-21_box'},
        //         { "mData": '2016-06-21_drop'},
        //         { "mData": '2016-06-22_box'},
        //         { "mData": '2016-06-22_drop'},
        //         { "mData": '2016-06-23_box'},
        //         { "mData": '2016-06-23_drop'},
        //         { "mData": '2016-06-24_box'},
        //         { "mData": '2016-06-24_drop'},
        //         { "mData": '2016-06-25_box'},
        //         { "mData": '2016-06-25_drop'},
        //         { "mData": '2016-06-26_box'},
        //         { "mData": '2016-06-26_drop'},
        //         { "mData": '2016-06-27_box'},
        //         { "mData": '2016-06-27_drop'},
        //         { "mData": '2016-06-28_box'},
        //         { "mData": '2016-06-28_drop'},
        //         { "mData": '2016-06-29_box'},
        //         { "mData": '2016-06-29_drop'},
        //         { "mData": '2016-06-30_box'},
        //         { "mData": '2016-06-30_drop'},
        //         { "mData": 'average_box'},
        //         { "mData": 'average_drop'}           
        //     ];

        // dataSet_aoColumns = tmp_aoColumns;

        $('#datatableOperationKPI_Canvas').html(resultDataTableHeaderTemplate(context)).promise().done(function(){
          fn.DatatableOperationKPI();

          $('#datatableOperationKPI tbody').on( 'click', 'td', function () {
              // alert( 'Clicked on cell in visible column: '+datatableOperationKPI.cell( this ).index().columnVisible );

              var data = datatableOperationKPI.row($(this).closest('tr')).data();
              // console.log(data);

              var rowIdx = datatableOperationKPI.cell( this ).index().row;
              console.log(rowIdx);

              var columnIdx = datatableOperationKPI.cell( this ).index().column;
              console.log(columnIdx);

              var col_offset = 2;

              if (dataCollections) {
                if (columnIdx >= 2) {
                  // console.log(dataCollections);
                  // console.log(dataCollections['"' + rowIdx.toString() + columnIdx.toString() + '"']);
                  var tmpObj = dataCollections['"' + rowIdx.toString() + (columnIdx - col_offset).toString() + '"'];
                  var myJobDate = tmpObj.job_date;
                  console.log(myJobDate);
                  var myVehicleLicence = tmpObj.vehicle_licence;
                  console.log(myVehicleLicence);
                  var my_job_no = tmpObj.job_no;
                  var my_departure_time = tmpObj.departure_time;
                  var my_first_delivery_place_time = tmpObj.first_delivery_place_time;
                  var my_drop_all = tmpObj.drop_all;
                  var my_size_A = tmpObj.size_A;
                  var my_size_B = tmpObj.size_B;
                  var my_size_C = tmpObj.size_C;
                  var my_size_Other = tmpObj.size_Other;
                  var my_box_all = tmpObj.box_all;
                  var my_driver_wages = tmpObj.driver_wages;

                  toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                  }
                  


                    var tmpMsg = "<ul class='list-unstyled'>";
                        tmpMsg += "<li><strong>Job No :</strong> <button type='button' class='btn btn-circle btn-success' id='show-job-no-id'><b>" + my_job_no + "</b></button></a></li>";
                        tmpMsg += "<li><i class='fa fa-caret-right'></i><strong>เวลาออกศูนย์ :</strong> " + my_departure_time + "</li>";
                        tmpMsg += "<li><i class='fa fa-caret-right'></i><strong>ส่งจุดแรก :</strong> " + my_first_delivery_place_time + "</li>";
                        tmpMsg += "<li><i class='fa fa-caret-right'></i><strong>จำนวน Drop :</strong> " + my_drop_all + "</li>";
                        tmpMsg += "<li><i class='fa fa-caret-right'></i><strong>Size A :</strong> " + my_size_A + "</li>";
                        tmpMsg += "<li><i class='fa fa-caret-right'></i><strong>Size B :</strong> " + my_size_B + "</li>";
                        tmpMsg += "<li><i class='fa fa-caret-right'></i><strong>Size C :</strong> " + my_size_C + "</li>";
                        tmpMsg += "<li><i class='fa fa-caret-right'></i><strong>Size N/A :</strong> " + my_size_Other + "</li>";
                        tmpMsg += "<li><i class='fa fa-caret-right'></i><strong>กล่องทั้งหมด :</strong> " + my_box_all + "</li>";
                        tmpMsg += "<li><i class='fa fa-caret-right'></i><strong>ค่าจ้าง พขร. :</strong> " + my_driver_wages + "</li>";
                        tmpMsg += "</ul>";

                  // var tmpMsg = "Job No. : <button type='button' class='btn btn-link'>" + myJobNo + "</button>";
                  toastr["success"](tmpMsg, "<h3>Information : </h3>");
                  // toastr.info('Date : ' + myJobDate);

   
                  $("#show-job-no-id").on('click', function() {
                    // alert(1);
                    fn.ShowJobNoDetail(my_job_no);
                  });

                  // $("#show-job-no-id").on('click', fn.ShowJobNoDetail(my_job_no));

                }
              }
              

              // console.log( 'You clicked on ' + data.id+'\'s row' );
              // console.log( 'You clicked on job date :  ' + data.job_date );
              // console.log( 'You clicked on job no :  ' + data.job_no );
          });

        });





        // var centerOptionSelected = $('#center_selected_id').find("option:selected");
        // var centerValueSelected  = centerOptionSelected.val();
        // var centerTextSelected   = centerOptionSelected.text();

        // fn.paramSiteName = centerTextSelected;


        // if (centerValueSelected != "#") {
        //   // console.log('centerValueSelected : ' + centerValueSelected);
        //   // console.log('centerTextSelected : ' + centerTextSelected);

        //   // console.log("site name : " + fn.paramSiteName);
        //   // console.log("start date : " + fn.paramStartDate);
        //   // console.log("end date : " + fn.paramEndDate);

        //   fn.DatatableDrop(fn.paramSiteName, fn.paramStartDate, fn.paramEndDate);



        // } else {
        //   alert('กรุณาเลือกศูนย์รถ');
        // }
        
        // return false;
  });


  $("#center_selected_id").change(function() {

        var centerOptionSelected = $('#center_selected_id').find("option:selected");
        var centerValueSelected  = centerOptionSelected.val();
        var centerTextSelected   = centerOptionSelected.text();

        fn.paramSiteName = centerTextSelected;
        console.log(fn.paramStartDate);
        console.log(fn.paramEndDate);
        // if (fn.paramStartDate) {
        //   fn.paramStartDate = fn.paramStartDate.format('MM/DD/YYYY');
        // }

        // if (fn.paramEndDate) {
        //   fn.paramEndDate = fn.paramEndDate.format('MM/DD/YYYY');
        // }
        
        if (fn.paramStartDate && fn.paramEndDate) {
          fn.HeaderFilter(fn.paramSiteName, fn.paramStartDate, fn.paramEndDate);
          // fn.DatatableOperationKPI_FF();
        }
        

        // console.log('Dropdown selected');
        // console.log("site name : " + fn.paramSiteName);
        // console.log("start date : " + fn.paramStartDate);
        // console.log("end date : " + fn.paramEndDate);

  })

	
}