            "aoColumnDefs": [
                    {
                        'bSortable': true,
                        // "bAutoWidth": true,
                        "sWidth": "50px",
                        'aTargets': [0]
                    },{
                        'bSortable': true,
                        // "bAutoWidth": true,
                        "render": function ( data, type, row ) {
                            var tmpRender;

                            tmpRender = "<div style = 'width:110px'>"

                            if (objVehicleType[data] == 'Motorcycle') {
                                if (objDeliveryType[data] == 'EPOD') {
                                    tmpRender = tmpRender + "<i class='fa fa-motorcycle'></i> <i class='fa fa-mobile'></i>&nbsp;" + data;
                                } else {
                                    tmpRender = tmpRender + "<i class='fa fa-motorcycle'></i>&nbsp;" + data;
                                }
                                // tmpRender = "<i class='fa fa-motorcycle'> " + data + "</i>";
                            } else if(objVehicleType[data] == 'Pickup') {
                                if (objDeliveryType[data] == 'EPOD') {
                                    tmpRender = tmpRender + "<i class='fa fa-truck'></i> <i class='fa fa-mobile'></i> " + data;
                                } else {
                                    tmpRender = tmpRender + "<i class='fa fa-truck'></i> " + data;
                                }
                                // tmpRender = "<i class='fa fa-truck'> " + data + "</i>" ;
                            } else {
                                if (objDeliveryType[data] == 'EPOD') {
                                    tmpRender = tmpRender + "<i class='fa fa-bus'></i> <i class='fa fa-mobile'></i> " + data;
                                } else {
                                    tmpRender = tmpRender + "<i class='fa fa-bus'></i> " + data;
                                }
                            }

                            tmpRender = tmpRender + "</div>";

                            return tmpRender;
                        },
                        "targets": [1]
                    },{
                        'bSortable': true,
                        "render": function ( data, type, row ) {
 
                            var tmpRender;

                            if (data < 2) {
                                tmpRender = "<b>" + data + "</b>";
                            } else {
                                tmpRender = data;
                            }

                            return tmpRender;
                        },
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            if (sData > 1000) { 
                                $(nTd).css('background-color', '#00ab4e').css('color', '#000').css('font-weight', 'bold'); 
                            } 
                        },
                        "targets": [-1, -2]
                    },{
                        'bSortable': true,
                        "bAutoWidth": false,
                        "render": function ( data, type, row ) {
 
                            var tmpRender;

                            if (data > 35) {
                                tmpRender = "<button type='button' class='btn green-haze'>" + data + "</button>";
                            } else {
                                tmpRender = "<button type='button' class='btn btn-link'>" + data + "</button>";
                            }

                             

                            return tmpRender;
                        }, "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            // if (sData > 35) { 
                            //     $(nTd).css('background-color', '#00ab4e').css('color', '#000').css('font-weight', 'bold'); 
                            // } 
                        },
                        "targets": '_all'
                    },{ 
                        "sClass": "DatatableOperationKPI-col-01", 
                        "aTargets": [0] 
                    },{ 
                        "sClass": "DatatableOperationKPI-col-02", 
                        "aTargets": [1] 
                    },{ 
                        "sClass": "DatatableOperationKPI-common", 
                        "aTargets": '_all'
                    }
            ],