                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- BEGIN PORTLET-->
                                                <div class="portlet box green">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class="fa fa-gift"></i>Daterange Pickers </div>
                                                        <div class="tools">
                                                            <a href="javascript:;" class="collapse"> </a>
                                                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                                            <a href="javascript:;" class="reload"> </a>
                                                            <a href="javascript:;" class="remove"> </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body form">
                                                        <!-- BEGIN FORM-->
                                                        <form action="#" class="form-horizontal form-bordered">
                                                            <div class="form-body">
                 
                                                                <div class="form-group ">
                                                                    <label class="control-label col-md-3">วันที่</label>
                                                                    <div class="col-md-4">
                                                                        <div id="reportrange" class="btn default">
                                                                            <i class="fa fa-calendar"></i> &nbsp;
                                                                            <span> </span>
                                                                            <b class="fa fa-angle-down"></b>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group ">
                                                                    <label class="control-label col-md-3">ประเภทสินค้า</label>
                                                                    <div class="col-md-4">
                                                                        <label>
                                                                            <input type="radio" name="iCheck" checked> ทั้งหมด
                                                                       </label>
                                                                       <label>
                                                                           <input type="radio" name="iCheck"> สินค้าด่วน
                                                                       </label>
                                                                       <label>
                                                                           <input type="radio" name="iCheck"> สินค้าทั่วไป
                                                                       </label>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">รหัสลูกค้า</label>
                                                                    <div class="col-md-4">
                                                                        <div class="input-group" id="defaultrange">
                                                                            <input type="text" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="form-actions">
                                                                <div class="row">
                                                                    <div class="col-md-offset-3 col-md-9">
                                                                        <button type="submit" class="btn red">
                                                                            <i class="fa fa-check"></i> Submit</button>
                                                                        <button type="button" class="btn default">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <!-- END FORM-->
                                                    </div>
                                                </div>
                                                <!-- END PORTLET-->
                                            </div>
                                        </div>