                                    <div class="portlet light canvas-information" id="canvas-information">
                                        <div class="portlet-title">
                                            <div class="caption font-dark">
                                                <i class="icon-clock font-dark"></i>
                                                <span class="caption-subject bold uppercase">Lead time</span>
                                                <span class="caption-helper">
                                                     <span id="customer-label">ชื่อลูกค้า</span>
                                                    | <span class="hidden-xs" id="goods-type-label">ทั้งหมด </span>
                                                    | <span class="hidden-xs" id="date-range-selected-label">28/07/2016 - 01/08/2016 </span>
                                                </span>
                                            </div>
                                            <div class="actions">
                                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" data-container="false" data-placement="bottom" href="javascript:;" id="btn-fullscreen-sl001"> </a>
                                            </div>
                                            <div class="tools"> </div>
                                        </div>
                                        <div class="portlet-body" >

                                            <div class="panel panel-default">
                                                <!-- <div class="panel-heading"> Panel heading without title </div> -->
                                                <div class="panel-body" id="container-leadTime-highCharts"> 
                                                    
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <!-- <div class="panel-heading"> Panel heading without title </div> -->
                                                <div class="panel-body" > 
                                                    <table class="table table-striped table-bordered table-hover" width="100%" id="datatable_sl001">
                                                    </table>
                                                </div>
                                            </div>




                                  

                                        </div>
                                    </div>
                                    

     
