        if (fn.paramStartDate) {
          paramStartDate = fn.paramStartDate.format('DD/MM/YYYY');
        }

        if (fn.paramEndDate) {
          paramEndDate = fn.paramEndDate.format('DD/MM/YYYY');
        }
        

          var tmpData = {
              "startDate" : paramStartDate, 
              "endDate" : paramEndDate, 
              "siteName" : fn.paramSiteName
          }

          // console.log(tmpData);

          if (!fn.paramSiteName) {

            // alert("กรุณาเลือกศูนย์");

            toastr.options = {
              "closeButton": true,
              "debug": false,
              "newestOnTop": true,
              "progressBar": true,
              "positionClass": "toast-top-full-width",
              "preventDuplicates": false,
              "showDuration": "300",
              "hideDuration": "1000",
              "timeOut": "5000",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
            }

            var tmpMsg = "กรุณาเลือกศูนย์";
            toastr["warning"](tmpMsg, "<h3>Warning</h3>");

            return false;
          } 