                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="icon-social-dribbble font-green hide"></i>
                                                    <span class="caption-subject font-dark bold uppercase">Table Basic Toolbar</span>
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                                        <i class="icon-cloud-upload"></i>
                                                    </a>
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                                        <i class="icon-wrench"></i>
                                                    </a>
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <table data-toggle="table" data-url="./data/data1.json" data-height="299" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true">
                                                    <thead>
                                                        <tr>
                                                            <th data-field="id" data-align="right">Item ID</th>
                                                            <th data-field="name" data-align="center">Item Name</th>
                                                            <th data-field="price" data-align="left">Item Price</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>