                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-filter font-dark"></i>
                                    <span class="caption-subject bold font-dark uppercase"> Filter </span>
                                </div>
                                <div class="actions">
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Date Range :</label>
                                                    <div id="reportrange" class="btn default">
                                                        <i class="fa fa-calendar"></i> &nbsp;
                                                        <span> </span>
                                                        <b class="fa fa-angle-down"></b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    
                                                    <div class="input-group">
                                                        <div class="icheck-inline">
                                                            <label>
                                                                <input type="radio" name="iCheck" data-custom="custom-1" value="1" class="col-md-4" checked> ทั้งหมด
                                                            </label>
                                                            <label>
                                                                 <input type="radio" name="iCheck" data-custom="custom-2" value="2" class="col-md-4 "> สินค้าด่วน
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="iCheck" data-custom="custom-3" value="3" class="col-md-4"> สินค้าทั่วไป
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">รหัสลูกค้า :</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group" >
                                                            <input type="text" class="form-control" id="customer-id">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div class="form-actions">
                                        <button class="btn green bold uppercase btn-block" id="btnFilterInfo">Go</button>
                                        <div class="search-filter-divider bg-grey-steel"></div>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>