                            <li class="menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;"> KPI
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li class=" ">
                                        <a href="layout_mega_menu_light.html" class="nav-link  "> บัญชี </a>
                                    </li>
                                    <li class=" ">
                                        <a href="layout_mega_menu_light.html" class="nav-link  "> Operation </a>
                                    </li>
                                    <li class=" ">
                                        <a href="layout_mega_menu_light.html" class="nav-link  "> HR </a>
                                    </li>
                                    <li class=" ">
                                        <a href="layout_mega_menu_light.html" class="nav-link  "> IT </a>
                                    </li>
                                    <li class=" ">
                                        <a href="layout_mega_menu_light.html" class="nav-link  "> จัดซื้อ </a>
                                    </li>
                                </ul>
                            </li>