                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="<%= current_page.data.homeURL %>">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>DD</span>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>OB001 - Internal Booking</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->