                                                        <div class="row number-stats margin-bottom-30">
                                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                                <div class="stat-left">
                                                                    <div class="stat-number">
                                                                        <div class="title"> นำไป - Drop </div>
                                                                        <div class="number" id="tab-nonEpod-drop-begin"> - </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                                <div class="stat-right">
                                                                    <div class="stat-number">
                                                                        <div class="title"> ส่งได้ - Drop </div>
                                                                        <div class="number" id="tab-nonEpod-drop-sent"> - </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                                <div class="stat-left">
                                                                    <div class="stat-number">
                                                                        <div class="title"> นำไป - Box </div>
                                                                        <div class="number" id="tab-nonEpod-box-begin"> - </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                                <div class="stat-right">
                                                                    <div class="stat-number">
                                                                        <div class="title"> ส่งไป - Box </div>
                                                                        <div class="number" id="tab-nonEpod-box-sent"> - </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                                <div class="stat-left">
                                                                    <div class="stat-number">
                                                                        <div class="title"> % Update </div>
                                                                        <div class="number" id="tab-nonEpod-percent-update"> - </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>



                                                       <!--  <div class="row number-stats margin-bottom-30">
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <div class="stat-left">
                                                                    <div class="stat-chart">
                                                                        <div id="sparkline_bar_averageBox_nonEpod"></div>
                                                                    </div>
                                                                    <div class="stat-number">
                                                                        <div class="title"> Average Box </div>
                                                                        <div class="number" id="non-epod-average-box-id"> - </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <div class="stat-right">
                                                                    <div class="stat-chart">
                                                                        <div id="sparkline_bar_averageDrop_nonEpod"></div>
                                                                    </div>
                                                                    <div class="stat-number">
                                                                        <div class="title"> Average Drop </div>
                                                                        <div class="number" id="non-epod-average-drop-id"> - </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> -->