                                                        <div class="row number-stats margin-bottom-30">
                                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                                <div class="stat-left">
                                                                    <div class="stat-number">
                                                                        <div class="title"> นำไป - Drop </div>
                                                                        <div class="number" id="tab-all-drop-begin"> - </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                                <div class="stat-right">
                                                                    <div class="stat-number">
                                                                        <div class="title"> ส่งได้ - Drop </div>
                                                                        <div class="number" id="tab-all-drop-sent"> - </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                                <div class="stat-left">
                                                                    <div class="stat-number">
                                                                        <div class="title"> นำไป - Box </div>
                                                                        <div class="number" id="tab-all-box-begin"> - </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                                <div class="stat-right">
                                                                    <div class="stat-number">
                                                                        <div class="title"> ส่งไป - Box </div>
                                                                        <div class="number" id="tab-all-box-sent"> - </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                                <div class="stat-left">
                                                                    <div class="stat-number">
                                                                        <div class="title"> % Update </div>
                                                                        <div class="number" id="tab-all-percent-update"> - </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>

                                                        <table class="table table-striped table-bordered table-hover" width="100%" id="datatableVehicle_Daily">
                                                        </table>